@use '../abstracts/variables' as v;


body {
  color: v.$text-color;
  font-family: v.$font-family;
}


a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  transition: all 0.3s ease;
}
