@use '../../abstracts/variables' as v;


.toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: v.$accent-color;
  color: white;
  padding: 10px 20px;
  border-radius: v.$border-radius;
  box-shadow: v.$box-shadow;
  z-index: v.$z-index-modal;
  opacity: 0.95;
  font-weight: 500;
  animation: fadeSlideIn 0.4s ease forwards;
}

@keyframes fadeSlideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 0.95;
    transform: translateY(0);
  }
}

