

// Colores
$primary-color: #048b7b;
$secondary-color: #0c2c2c;
$accent-color: #ade7ee;
$text-color: #333;
$background-color: #f9f9f9;
$gray-light: #e0e0e0;
$gray-dark: #555;
$gray-medium: #999999;  // o el color que prefieras para "medio"


$font-family: 'Roboto', sans-serif;
$font-size-base: 16px;

$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 48px;

$border-radius: 8px;

$box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

// 
$z-index-modal: 9999;
